* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: purple;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(3px + 2vmin);
  color: white;
  font-weight: bold;
}

.App-header>div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header>div:nth-child(2) {
  margin: 20px;
}

.App-body {
  display: flex;
  flex-direction: column;
}

.Form {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-weight: bold;
  width: 300px;
  justify-content: space-between;
}