* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  background-image: url(./components/backgroundImage.png);
}

.App-body>div>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  margin: 20px auto;
  border: 2px solid white;
    border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);
}

.App-body>div>div>* {
  margin: 20px auto;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-body>div>div>div>button {
  color: black;
  width: 175px;
  height: 100px;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  background-image: url(./components/birthdayImage.jpeg);
  background-size: 175px 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .App-body>div>div {
    width: 80%;
  }
}