* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: #dddddd;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-body {
  width: 100%;
  height: 700px;
}

.Header {
  height: 100px;
  width: 944px;
  margin: 10px;
  background-color: #6aa84f;
  border: 2px solid gray;
}

.Navigation {
  display: inline-block;
  width: 200px;
  height: 400px;
  margin: 10px;
  background-color: #6fa8dc;
  border: 2px solid gray;
}

.Main {
  display: inline-block;
  width: 720px;
  height: 550px;
  margin: 10px;
  background-color: #e06666;
  border: 2px solid gray;
}

.SubContents {
  display: inline-block;
  width: 180px;
  height: 368px;
  margin: 20px;
  background-color: #ffd966;
  border: 2px solid gray;
}

.Advertisement{
  width: 94%;
  height: 100px;
  margin: 20px;
  background-color: #b4a7d6;
  border: 2px solid gray;
}