* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
}

.tab {
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 10px 20px;
}

.selectedTab {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.nonSelectedTab {
  color: black;
  background-color: white;
  border: 2px solid #bbbbbb;
}

.results {
  width: 85%;
  height: 100px;
  margin: auto;
  background-color: rgba(100, 100, 100, 0.15);
}

.results>div {
  margin: 10px;
  font-size: calc(2px + 2vmin);
}

.tabs {
  margin: 10px auto;
  font-weight: bold;
}