* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-body>div {
  display: flex;
  flex-direction: column;
}

.App-body>div>div {
  background-color: rgba(180, 180, 180, 0.75);
}

.App-body>div>div>* {
  margin: 20px;
}

.App-body>div>form {
  font-weight: bold;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body>div>form>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

.App-body>div>form>div>input {
  width: 200px;
  height: 30px;
  font-size: calc(2px + 2vmin);
}

.App-body>div>form>button {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: calc(2px + 2vmin);
  background-color: rgba(0, 0, 0, 0.75);
}