* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
}

.App-body>p {
  margin: 10px auto;
  color: red;
  font-weight: bold;
}

.App-body>form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  min-height: 200px;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  font-size: calc(10px + 2vmin);
  background-color: rgba(0, 0, 0, 0.85);
}

.App-body>form>div {
  display: flex;
    flex-direction: column;
}

.App-body>form>div>div {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.App-body>form>div>div>* {
  margin: 10px;
  font-weight: bold;
}

.App-body>form>div>div>input {
  width: 300px;
  height: 30px;
  font-size: calc(5px + 2vmin);
}

.App-body>form>div>button {
  width: 200px;
  height: 35px;
  margin: 10px auto;
}