* {
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  /* background-image: url(./components/backgroundImage.jpeg); */
}

.App-body>div>form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  min-height: 200px;
  margin: 20px auto;
  border-radius: 10px;
  color: white;
  font-size: calc(10px + 2vmin);
  background-color: rgba(0, 0, 0, 0.85);
}

.App-body>div>form>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  height: 50px;
}

.App-body>div>form>div>* {
  margin: 10px;
  font-weight: bold;
}

.App-body>div>form>div>input {
  width: 325px;
  height: 30px;
  font-size: calc(5px + 2vmin);
}

.App-body>div>form>div:nth-child(4)>input {
  -Webkit-text-security: disc;
}

.App-body>div>form>div:nth-child(5)>input {
  -Webkit-text-security: disc;
}

.App-body>div>div {
  display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
  width: 700px;
  min-height: 150px;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  font-size: calc(5px + 2vmin);
  background-color: rgba(0, 0, 0, 0.85);
}

.App-body>div>div>div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.App-body>div>div>div>div {
  margin: 20px;
}